In [10]:
# Importanto as bibliotecas necessárias
import pandas as pd
import seaborn as sns

In [11]:
# carregando o dataframe
df = sns.load_dataset("titanic")
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
# criando o dicionário de dados
df_dict = pd.DataFrame([
    {
        "variavel" : "survived",
        "descricao": "sobrevivente ou não (0 para não, 1 para sim)",
        "tipo": "quantitativa",
        "subtipo" : "discreta"
    },
    {
        "variavel" : "pclass",
        "descricao": "numero da classe (First: 1, Second: 2, Third: 3)",
        "tipo": "quantitativa",
        "subtipo" : "discreta"
    },
    {
        "variavel" : "sex",
        "descricao": "sexo do passageiro (male e female)",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "age",
        "descricao": "idade",
        "tipo": "quantitativa",
        "subtipo" : "discreta"
    },
    {
        "variavel" : "sibsp",
        "descricao": "quantidade de irmãos e cônjugues a bordo",
        "tipo": "quantitativa",
        "subtipo" : "discreta"
    },
    {
        "variavel" : "parch",
        "descricao": "quantidade de pais e crianças com parentesco a bordo",
        "tipo": "quantitativa",
        "subtipo" : "continua"
    },
    {
        "variavel" : "fare",
        "descricao": "tarifa paga",
        "tipo": "quantitativa",
        "subtipo" : "continua"
    },
    {
        "variavel" : "embarked",
        "descricao": "Porto de Embarque",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "class",
        "descricao": "classe do passageiro",
        "tipo": "qualitativa",
        "subtipo" : "ordinal"
    },
    {
        "variavel" : "who",
        "descricao": "gênero do passageiro (man e woman)",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "adult_male",
        "descricao": "passageiro é homem ou não",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "deck",
        "descricao": "área coberta",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "embark_town",
        "descricao": "Porto de Embarque (Cherbourg, Queenstown, Southampton)",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "alive",
        "descricao": "passageiro sobreviveu ou não",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
    {
        "variavel" : "alone",
        "descricao": "passageiro estava sozinho ou não",
        "tipo": "qualitativa",
        "subtipo" : "nominal"
    },
])
df_dict

,variavel,descricao,tipo,subtipo
0,survived,"sobrevivente ou não (0 para não, 1 para sim)",quantitativa,discreta
1,pclass,"numero da classe (First: 1, Second: 2, Third: 3)",quantitativa,discreta
2,sex,sexo do passageiro (male e female),qualitativa,nominal
3,age,idade,quantitativa,discreta
4,sibsp,quantidade de irmãos e cônjugues a bordo,quantitativa,discreta
5,parch,quantidade de pais e crianças com parentesco a...,quantitativa,continua
6,fare,tarifa paga,quantitativa,continua
7,embarked,Porto de Embarque,qualitativa,nominal
8,class,classe do passageiro,qualitativa,ordinal
9,who,gênero do passageiro (man e woman),qualitativa,nominal
10,adult_male,passageiro é homem ou não,qualitativa,nominal
11,deck,área coberta,qualitativa,nominal
12,embark_town,"Porto de Embarque (Cherbourg, Queenstown, Sout...",qualitativa,nominal
13,alive,passageiro sobreviveu ou não,qualitativa,nominal
14,alone,passageiro estava sozinho ou não,qualitativa,nominal

In [35]:
# buscando todas as variáveis qualitativas
qualVet = df_dict.query('tipo == "qualitativa"').variavel.tolist()

# exibindo a moda
df[qualVet].mode()

    sex embarked  class  who  adult_male deck  embark_town alive  alone
0  male        S  Third  man        True    C  Southampton    no   True

In [36]:
# buscando todas as variáveis quantitativas
quantVet = df_dict.query('tipo == "quantitativa"').variavel.tolist()
df[quantVet].mode()

   survived  pclass   age  sibsp  parch  fare
0         0       3  24.0      0      0  8.05

In [39]:
# exibindo a média das variáveis
df[quantVet].mean()

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [29]:
# exibindo a mediana das variáveis 
df[quantVet].median()

survived     0.0000
pclass       3.0000
age         28.0000
sibsp        0.0000
parch        0.0000
fare        14.4542
dtype: float64

In [41]:
# Exibindo os valores de desvio padrão, invervalo e intervalo interquantil
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [43]:
# desvio padrão
df[quantVet].std()

survived     0.486592
pclass       0.836071
age         14.526497
sibsp        1.102743
parch        0.806057
fare        49.693429
dtype: float64

In [44]:
# intervalo mínimo
df[quantVet].min()

survived    0.00
pclass      1.00
age         0.42
sibsp       0.00
parch       0.00
fare        0.00
dtype: float64

In [45]:
# intervalo máximo
df[quantVet].max()

survived      1.0000
pclass        3.0000
age          80.0000
sibsp         8.0000
parch         6.0000
fare        512.3292
dtype: float64

In [46]:
for variavel, values in df_dict.query('tipo == "qualitativa"').iteritems():
    print(f'{variavel} - {values}')
    subamostra = df[df[variavel] == values]
    display(subamostra.apply(pd.DataFrame.describe))
    print()

AttributeError: 'dict' object has no attribute 'iteritems'